!/.php_cs.dist
!/generate-ide-helper
!public/js/modernizr.min.js
._*
.DS_Store
.DS_Store?
.env
.env.dusk.local
.env.testing
.idea/
.php_cs.*
.phpunit.result.cache
.Spotlight-V100
.Trashes
/.phpstorm.meta.php
/.vagrant
/.vscode
/generate-ide-helper
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
_ide_helper*
dump.rdb
ehthumbs.db
Gemfile
Gemfile.lock
Guardfile
Guardfile.save
Homestead.json
Homestead.yaml
npm-debug.log
public/css/*
public/fonts/*
public/js/*
public/mix-manifest.json
public/qrcode/*
public/vendor/*
public/upload/*
storage/*.key
Thumbs.db
yarn-error.log
